<header class="top-0 z-50 sticky bg-secondary p-5 text-text text-xl">
  <div class="flex justify-between mx-auto max-w-screen-lg">
    <p class="logo">PWM RComputadores</p>

    <button #navToggleButton type="button" id="toggle-mobile-nav" (click)="ToggleMobileNav()"></button>

    <nav class="md:block hidden">
      <ul class="flex gap-5">
        <li>Home</li>
        <li>Projeto Rede</li>
        <li>Equipamentos</li>
        <li>Download</li>
      </ul>
    </nav>
  </div>
</header>

<div (click)="CloseMobileNav()" #mobileNavBg id="mobile-nav-bg" class="close"></div>

<nav id="mobile-nav">
  <ul #mobileNavMenu>
    <li (click)="CloseMobileNav()">Home</li>
    <li (click)="CloseMobileNav()">Equipamentos</li>
    <li (click)="CloseMobileNav()">Projeto Rede</li>
    <li (click)="CloseMobileNav()">Download Relatório</li>
  </ul>
</nav>