<main>
  <section class="lg:grid-cols-1">
    <h1>Equipamentos</h1>

    <article class="gap-10 grid grid-cols-2">
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/EdgeRouter_X_SFP.png" alt="EdgeRouter X SFP image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">Edge Router X SFP</p>
          <ul class="text-sm">
            <li class="mb-2">
              5 portas Ethernet 10/100/1000 RJ45 e 1 porta 100/1000 SFP;
            </li>
            <li class="mb-2">
              Alto desempenho e baixo ping;
            </li>
            <li class="mb-2">
              Funcionalidades avançadas de roteamento e segurança;
            </li>
            <li class="mb-2">
              Interface de utilizador intuitiva e poderosa;
            </li>
            <li class="mb-2">
              Preço: 91.00€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/EdgeRouterX.jpg" alt="Edge Router X image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start"><span class="block">Alternativa</span> Edge Router X</p>
          <ul class="text-sm">
            <li class="mb-2">
              Mesmas funcionalidades apenas muda o número de portas;
            </li>
            <li class="mb-2">
              Não possui entrada para fibra óptica
            </li>
            <li class="mb-2">
              Funcionalidades avançadas de roteamento e segurança;
            </li>
            <li class="mb-2">
              Interface de utilizador intuitiva e poderosa;
            </li>
            <li class="mb-2">
              Preço: 54,00€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Dell_PowerEdge_T440.jpg" alt="Dell PowerEdge T440 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Dell PowerEdge T440
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Processador Intel Xeon Silver 4110
            </li>
            <li class="mb-2">
              32GB RAM
            </li>
            <li class="mb-2">
              1TB
            </li>
            <li class="mb-2">
              SSD
            </li>
            <li class="mb-2">
              Fonte Redundante;
            </li>
            <li class="mb-2">
              Preço: 952€ + 200€ IVA
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/HPProDesk600G5.jpg" alt="HP ProDesk 600 G5 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            <span class="block">Alternativa</span>
            HP ProDesk 600 G5
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Processador i5-9500
            </li>
            <li class="mb-2">
              16GB RAM
            </li>
            <li class="mb-2">
              Preço: 320€ (IVA incluído)
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Ubiquiti_USW_24_POE.jpg" alt="Ubiquiti USW-24-POE image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Ubiquiti USW-24-POE
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              24 portas (10/100/1000Mbps) RJ45
            </li>
            <li class="mb-2">
              + 2 portas SFP(para conectividade uplink de alta velocidade )
            </li>
            <li class="mb-2">
              Oferece PoE (Power Over Ethernet) em 16 portas;
            </li>
            <li class="mb-2">
              30W de energia por porta para dispositivos compatíveis, como access points.
            </li>
            <li class="mb-2">
              Preço: 749,90€ (IVA incluído)
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/SwitchTP-LinkTL-SG1024D.jpg" alt="HP ProDesk 600 G5 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            <span class="block">Alternativa</span>
            TP-Link TL-SG1024D
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              24 portas RJ-45 (10/100/1000 Mbps);
            </li>
            <li class="mb-2">
              Ideal para ambientes de rede não complexas onde não requer uma configuração mais difícil. Por outro lado,
              oferece uma conectividade de alta velocidade para todos os dispositivos de rede.
            </li>
            <li class="mb-2">
              Preço: 94,90€
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>
</main>