<main>
  <section class="lg:grid-cols-1">
    <h1>Equipamentos</h1>

    <article class="gap-10 grid grid-cols-2">
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/EdgeRouter_X_SFP.png" alt="EdgeRouter X SFP image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">Edge Router X SFP</p>
          <ul class="text-sm">
            <li class="mb-2">
              5 portas Ethernet 10/100/1000 RJ45 e 1 porta 100/1000 SFP;
            </li>
            <li class="mb-2">
              Alto desempenho e baixo ping;
            </li>
            <li class="mb-2">
              Funcionalidades avançadas de roteamento e segurança;
            </li>
            <li class="mb-2">
              Interface de utilizador intuitiva e poderosa;
            </li>
            <li class="mb-2">
              Preço: 91.00€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/EdgeRouterX.jpg" alt="Edge Router X image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start"><span class="block">Alternativa</span> Edge Router X</p>
          <ul class="text-sm">
            <li class="mb-2">
              Mesmas funcionalidades apenas muda o número de portas;
            </li>
            <li class="mb-2">
              Não possui entrada para fibra óptica
            </li>
            <li class="mb-2">
              Funcionalidades avançadas de roteamento e segurança;
            </li>
            <li class="mb-2">
              Interface de utilizador intuitiva e poderosa;
            </li>
            <li class="mb-2">
              Preço: 54,00€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Dell_PowerEdge_T440.jpg" alt="Dell PowerEdge T440 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Dell PowerEdge T440
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Processador Intel Xeon Silver 4110
            </li>
            <li class="mb-2">
              32GB RAM
            </li>
            <li class="mb-2">
              1TB
            </li>
            <li class="mb-2">
              SSD
            </li>
            <li class="mb-2">
              Fonte Redundante;
            </li>
            <li class="mb-2">
              Preço: 952€ + 200€ IVA
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/HPProDesk600G5.jpg" alt="HP ProDesk 600 G5 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            <span class="block">Alternativa</span>
            HP ProDesk 600 G5
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Processador i5-9500
            </li>
            <li class="mb-2">
              16GB RAM
            </li>
            <li class="mb-2">
              Preço: 320€ (IVA incluído)
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Ubiquiti_USW_24_POE.jpg" alt="Ubiquiti USW-24-POE image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Ubiquiti USW-24-POE
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              24 portas (10/100/1000Mbps) RJ45
            </li>
            <li class="mb-2">
              + 2 portas SFP(para conectividade uplink de alta velocidade )
            </li>
            <li class="mb-2">
              Oferece PoE (Power Over Ethernet) em 16 portas;
            </li>
            <li class="mb-2">
              30W de energia por porta para dispositivos compatíveis, como access points.
            </li>
            <li class="mb-2">
              Preço: 749,90€ (IVA incluído)
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/SwitchTP-LinkTL-SG1024D.jpg" alt="HP ProDesk 600 G5 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            <span class="block">Alternativa</span>
            TP-Link TL-SG1024D
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              24 portas RJ-45 (10/100/1000 Mbps);
            </li>
            <li class="mb-2">
              Ideal para ambientes de rede não complexas onde não requer uma configuração mais difícil. Por outro lado,
              oferece uma conectividade de alta velocidade para todos os dispositivos de rede.
            </li>
            <li class="mb-2">
              Preço: 94,90€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Ubiquiti_UniFi_UAP-AC-PRO.jpg" alt="Ubiquiti UniFi UAP-AC-PRO image"
            class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Ubiquiti UniFi UAP-AC-PRO
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Tecnologia de alto desempenho com recursos avançado na gestão de segurança. Ideal para esta livraria que
              precisa de uma rede Wi-Fi;
            </li>
            <li class="mb-2">
              Alcance interno até 122 metros (2.4Ghz) e até 360 metros (5Ghz)
            </li>
            <li class="mb-2">
              Preço: 159,58€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/TP-LinkEAP225.jpg" alt="TP-Link EAP225 image" class="w-full h-full object-cover">
        </figure>
        <div class="content">
          <p class="text-start">
            <span class="block">Alternativa</span>
            TP-Link EAP225
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              24 portas RJ-45 (10/100/1000 Mbps);
            </li>
            <li class="mb-2">
              Projetada para suportar uso intenso por vários usuários em grandes áreas, evitando os problemas de
              estabilidade comuns em roteadores e pontos de acesso padrão.
            </li>
            <li class="mb-2">
              1 porta Ethernet.
            </li>
            <li class="mb-2">
              Wireless: 2.4Ghz: 450Mbps/ 5Ghz: 867Mbps
            </li>
            <li class="mb-2">
              Preço: 82,75€
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/cat6.jpeg" alt="TP-Link EAP225 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="text-start">
            Cabo de Rede S/FTP CAT-6 10m e 2m
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Oferece uma largura de banda maior e melhor margem de sinal para ruído, este cabo oferece um desempenho
              mais alto e livre de erros em ambientes de rede mais exigentes.
            </li>
            <li class="mb-2">
              Permite uma taxa até 1000mbps
            </li>
            <li class="mb-2">
              Preço: 13,00€(10 metros) e 6,15€(2 metros)
            </li>
          </ul>
        </div>
      </div>
      <div class="rede-equipamento">
        <div class="col-span-2 content">
          <p class="text-start">
            Computadores e impressoras
          </p>
          <ul class="text-sm">
            <li class="mb-2">
              Os computadores e impressoras serão fornecidos pelos clientes.
            <li class="mb-2">
              Computadores possuem capacidade de rede para 1000mps
            </li>
            <li class="mb-2">
              impressoras não possuem tecnologia wireless.
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>

  <section class="lg:grid-cols-1">
    <h2>Orçamento</h2>
    <p class="text-xl">Sugestão</p>
    <table class="border text-center">
      <thead>
        <tr class="bg-secondary">
          <th class="border-r">Equipamento</th>
          <th class="border-r w-[100px]">Qty</th>
          <th class="w-[100px]">Preço</th>
          <th class="w-[100px]">Final</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Router
          </td>
          <td class="border-r w-[100px]">
            2
          </td>
          <td class="border-r w-[100px]">
            91,00€
          </td>
          <td class="w-[100px]">
            182,00€
          </td>
        </tr>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Servidor
          </td>
          <td class="border-r w-[100px]">
            3
          </td>
          <td class="border-r w-[100px]">
            1.152,00€
          </td>
          <td class="w-[100px]">
            3.456,00€
          </td>
        </tr>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Servidor
          </td>
          <td class="border-r w-[100px]">
            3
          </td>
          <td class="border-r w-[100px]">
            1.152,00€
          </td>
          <td class="w-[100px]">
            3.456,00€
          </td>
        </tr>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Switch
          </td>
          <td class="border-r w-[100px]">
            6
          </td>
          <td class="border-r w-[100px]">
            750,00€
          </td>
          <td class="w-[100px]">
            4.500,00€
          </td>
        </tr>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Access Point
          </td>
          <td class="border-r w-[100px]">
            7
          </td>
          <td class="border-r w-[100px]">
            160,00€
          </td>
          <td class="w-[100px]">
            1.120,00€
          </td>
        </tr>
        <tr class="border-t">
          <td class="border-r w-[100px]">
            Cabo
          </td>
          <td class="border-r w-[100px]">
            225m
          </td>
          <td class="border-r w-[100px]">
            3,15€
          </td>
          <td class="w-[100px]">
            708,75€
          </td>
        </tr>
        <tr class="bg-accent border-t">
          <td class="border-r w-[100px]">
            Total
          </td>
          <td colspan="3">
            9.966,75€
          </td>
        </tr>
      </tbody>
    </table>

  </section>
</main>