<main>
  <section class="mt-20">
    <article class="flex flex-col justify-center">
      <h1 class="mb-5">Rede</h1>
      <p>
        A proposta de rede foi elaborada com configuração de router para acesso à rede externa (internet), de servidores
        para atender à necessidade do cliente, de switches para criação de Virtual Local Area Networks, doravante
        denominadas VLANs, e de access points para conectividade wireless caso utilizadores dos espaços tragam seus
        próprios dispositivos.
      </p>
    </article>

    <figure class="relative">
      <img src="../../assets/rede.jpg" alt="rede image" class="rounded-lg w-full h-full">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>
  </section>

  <section class="lg:grid-cols-1">
    <h2 class="mb-5">Equipamentos utilizados na rede</h2>

    <article class="gap-10 grid">
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/EdgeRouter_X_SFP.png" alt="EdgeRouter X SFP image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="title">Router</p>
          <p>Equipamento que permite a comunicação entre diferentes redes, sendo responsável por encaminhar os pacotes
            de dados entre elas.</p>
          <p>Configurou-se a porta interna do router com o <span>IP 192.168.1.10</span>, conforme gateway padrão do
            servidor, a porta
            de saída foi configurada com o <span>IP 192.168.0.1</span>.</p>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Dell_PowerEdge_T440.jpg" alt="Dell_PowerEdge_T440 image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="title">Servidor</p>
          <p>
            Os servidores são responsáveis pela administração e serviços da rede.
            A proposta de rede possui dois servidores.
            É válido reforçar que a
            <span>temperatura do ambiente deve ser mantida entre 15 e 30 Cº</span>
          </p>

          <p>
            <span class="block">Principal</span>
            Trata do <span>servidor DHCP que atribui endereços IP às interfaces</span> autorizadas para acessar a rede.
            Além disso, ele
            também
            funciona como <span>servidor de compartilhamento de arquivos e de banco de dados</span>, armazenando e
            gerenciando todas
            as informações críticas ou não críticas. O objetivo é <span>
              garantir que todos esses dados estejam sempre
              disponíveis e seguros
            </span>.
          </p>

          <p>
            <span class="block">Email</span>
            Responsável pela <span>atribuição de endereçamento eletrónico aos utilizadores registados no domínio do
              servidor</span>, possibilitando compartilhamento de arquivos, mensagens e informações relevantes de
            <span>forma interna e segura</span>.
          </p>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Ubiquiti_USW_24_POE.jpg" alt="Ubiquiti USW-24-POE image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="title">Switch</p>
          <p>
            Responsáveis pela comunicação interna de forma eficiente e reduzindo os domínios de colisão da rede,
            permitem a cofiguração de VLANs permite a segmentação da rede, melhorando a segurança e o próprio desempenho
            ao isolar diferentes tipos de tráfego de dados
          </p>
          <p>
            <span class="block">Contam com o Spanning Tree Protocol - STP</span>
            Conforme padronizado pelo Institute of Electrical and
            Electronics Engineers - IEEE a fim de evitar os broadcast storms.
          </p>
          <p>
            <span class="block">Broadcast storms</span>
            Refere ao loop de broadcasts causados pela redundância entre switches, que replicam os
            broadcasts entre si de forma repetitiva e infinita.
          </p>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/Ubiquiti_UniFi_UAP-AC-PRO.jpg" alt="Ubiquiti UniFi UAP-AC-PRO image"
            class="w-full h-full">
        </figure>
        <div class="content">
          <p class="title">Access Point</p>
          <p>
            Proporcionam conexão via Wi-Fi, permitindo que dispositivos móveis, laptops e tablets, acedam à rede de
            forma fácil e conveniente, garantindo que todos os clientes tenham acesso à rede.
          </p>
          <p>
            <span class="block">Protocolo WPA2-PSK</span>
            Protocolo com maior segurança disponível, pois utiliza o método de criptografia mais forte (AES).
          </p>
        </div>
      </div>
      <div class="rede-equipamento">
        <figure>
          <img src="../../assets/cat6.jpeg" alt="Cat6 cabos de rede image" class="w-full h-full">
        </figure>
        <div class="content">
          <p class="title">Cablagem</p>
          <p>
            Optamos por utilizar a cablagem de par entrançado com blindagem de categoria 6, por se tratar de uma
            topologia de pequeno porte, com o intuito de providenciar a velocidade compatível com switches e com as
            placas de rede disponíveis ao dispositivos disponibilizados pelo cliente (1000 mps) com resistência a
            interferências eletromagnéticas.
          </p>
        </div>
      </div>
    </article>
  </section>

  <section class="lg:grid-cols-1">
    <h2>Dispositivos de segurança</h2>
    <p>
      Em caso de avaria de dispositivos, para a rápida substituição e solução do problema, recomendamos ter alguns
      dispositivos e cablagem reserva para substituição, estes equipamentos serão abrangidos na proposta de orçamento.
    </p>
  </section>

  <section>
    <h1 class="lg:col-span-2">
      Configuração da rede
    </h1>
    <p>
      Por se tratar de uma empresa de pequeno porte, com espaço físico limitado e poucos dispositivos, configurou-se
      uma rede do tipo C, que possui disponibilidade de até 254 hosts.
    </p>
    <p>
      A redundância realizada nos switchs principais garante o contato com os servidores em caso de avaria no switch
      principal, sem perda relevante de serviço.
    </p>
    <p>
      Os dispositivos conectados às VLANs recebem IP por DHCP.
    </p>
  </section>

  <section class="lg:grid-cols-1">
    <h2>DHCP</h2>

    <table class="border text-center">
      <thead>
        <tr class="bg-secondary">
          <th class="border-r"></th>
          <th class="px-4 py-2 border-r">IP inicial</th>
          <th class="px-4 py-2 border-r">IP final</th>
          <th class="px-4 py-2">Hosts</th>
        </tr>
      </thead>
      <tbody>

        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            Servidores
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.1
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.20
          </td>
          <td class="px-8 py-2">
            20
          </td>
        </tr>

        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            IMPRESSORAS
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.21
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.40
          </td>
          <td class="px-8 py-2">
            20
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            LIVRARIA
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.41
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.100
          </td>
          <td class="px-8 py-2">
            60
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            RECECAO
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.101
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.125
          </td>
          <td class="px-8 py-2">
            25
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            SHARE SPACE
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.126
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.150
          </td>
          <td class="px-8 py-2">
            25
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            PERSONAL SPACE 1-3
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.151
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.170
          </td>
          <td class="px-8 py-2">
            20
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            PERSONAL SPACE 4-6
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.171
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.190
          </td>
          <td class="px-8 py-2">
            20
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            SERVER POOL
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.191
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.254
          </td>
          <td class="px-8 py-2">
            64
          </td>
        </tr>

      </tbody>
    </table>
  </section>

  <section class="lg:grid-cols-1">
    <h2>Ips fixos</h2>

    <table class="border text-center">
      <thead>
        <tr class="bg-secondary">
          <th class="border-r">Equipamento</th>
          <th class="px-4 py-2 border-r">IP interno</th>
          <th class="px-4 py-2 border-r">IP externo</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            ROUTER
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.10
          </td>
          <td class="px-8 py-2 border-r">
            192.168.0.1
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            SERVIDOR PRINCIPAL
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.1
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            SERVIDOR EMAIL
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.2
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            IMPRESSORA R
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.21
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            IMPRESSORA SP
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.22
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            IMPRESSORA PS 1-3
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.23
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-8 py-2 border-r">
            IMPRESSORA PS 4-6
          </td>
          <td class="px-8 py-2 border-r">
            192.168.1.24
          </td>
          <td class="px-8 py-2 border-r">
            --
          </td>
        </tr>

      </tbody>
    </table>
  </section>

  <section class="lg:grid-cols-1">
    <h2>VLANs</h2>

    <table class="border text-center">
      <thead>
        <tr class="bg-secondary">
          <th class="px-4 py-2 border-r">VLAN</th>
          <th class="px-4 py-2 border-r">Nome</th>
          <th class="px-4 py-2">Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-t">
          <td class="px-4 py-2 border-r">
            1
          </td>
          <td class="px-4 py-2 border-r">
            Livraria
          </td>
          <td class="px-4 py-2 text-justify">
            Necessário para clientes terem acesso à rede e aprimorar a experiência deles sem aumentar risco de acesso a
            documentação interna da empresa.
            <span class="block">Sem acesso à impressoras.</span>
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-4 py-2 border-r">
            2
          </td>
          <td class="px-4 py-2 border-r">
            Receção
          </td>
          <td class="px-4 py-2 text-justify">
            Necessário para poder efetuar a venda, emitir recibos e efetuar as atividades inerentes às funções primárias
            da livraria, assim como acessar agendamentos e status das áreas de workspace.
            <span class="block">Dá acesso à impressora da receção.</span>
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-4 py-2 border-r">
            3
          </td>
          <td class="px-4 py-2 border-r">
            Espaço Compartilhado
          </td>
          <td class="px-4 py-2 text-justify">
            Necessário para segregar a rede de trabalho e leitura daquela acessada pelos clientes de forma grátis,
            aprimorando segurança e privacidade.
            <span class="block">Dá acesso à impresora do espaço compartilhado</span>
          </td>
        </tr>
        <tr class="border-t">
          <td class="px-4 py-2 border-r">
            4 - 5
          </td>
          <td class="px-4 py-2 border-r">
            Espaço Privado
          </td>
          <td class="px-4 py-2 text-justify">
            Segregado em 2 vlans, uma para salas 1 a 3 e outra para salas 4 a 6.
            <span class="block">Aprimora segurança e limita a interferência na rede.</span>
            <span class="block">Cada VLAN possui sua própria impressora e access point.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="lg:col-span-2">Conclusão</h2>

    <figure class="relative">
      <img src="../../assets/conclusao.jpg" alt="conclusao image" class="rounded-lg w-full aspect-square object-cover">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>


    <p>
      A infraestrutura de rede foi projetada para ser eficaz e de ótima operação interna, adaptável, garantindo aos
      clientes um espaço de trabalho equipado com as tecnologias suficientes para atender às suas necessidades. A
      flexibilidade desta rede permite que a livraria se adapte a processos evolutivos e tecnologias emergentes,
      assegurando experiência contínua e de alta qualidade a todos os clientes.
    </p>

  </section>
</main>