<header class="top-0 z-50 sticky bg-secondary p-5 text-lg text-text">
  <div class="flex justify-between items-center mx-auto max-w-screen-lg">
    <p class="logo">PWM RComputadores</p>

    <button #navToggleButton type="button" id="toggle-mobile-nav" (click)="ToggleMobileNav()"></button>

    <nav class="lg:block hidden">
      <ul class="flex items-center gap-5">
        <li routerLink="/" class="cursor-pointer">Home</li>
        <li routerLink="/rede" class="cursor-pointer">Projeto Rede</li>
        <li routerLink="/equipamentos" class="cursor-pointer">Equipamentos</li>
        <li class="bg-primary/50 p-2 rounded-lg cursor-pointer"><a download
            href="../../assets/Projeto_redes.zip">Download Projeto</a></li>
      </ul>
    </nav>
  </div>
</header>

<div (click)="CloseMobileNav()" #mobileNavBg id="mobile-nav-bg" class="close"></div>

<nav id="mobile-nav">
  <ul #mobileNavMenu>
    <li routerLink="/" (click)="CloseMobileNav()">Home</li>
    <li routerLink="/rede" (click)="CloseMobileNav()">Projeto Rede</li>
    <li routerLink="/equipamentos" (click)="CloseMobileNav()">Equipamentos</li>
    <li (click)="CloseMobileNav()"><a class="bg-primary/50 p-2 rounded-lg text-center cursor-pointer" download
        href="../../assets/Projeto_redes.zip">Download Projeto</a></li>
  </ul>
</nav>