/* npx tailwindcss -i ./src/input.css -o ./src/styles.css --watch */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Nunito', serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    @apply text-4xl text-center;
  }
  h2 {
    @apply text-3xl text-center;
  }
  body {
    @apply bg-secondary text-text;
  }
  main {
    @apply p-5 bg-background gap-40 grid;
  }
  section {
    @apply gap-5 grid lg:grid-cols-2 mx-auto w-full max-w-screen-lg text-lg;
  }
}

@layer components {
  .btn {
    @apply block rounded-lg w-fit px-4 py-2 text-center uppercase cursor-pointer shadow-secondary shadow-lg active:scale-95 transition-transform duration-150;
    &.primary {
      @apply bg-primary;
    }
    &.secondary {
      @apply bg-secondary;
    }
  }
  .logo {
    @apply text-xl font-bold;
  }
  #toggle-mobile-nav {
    background-position: center;
    background-size: cover;
    background-image: url('./assets/icons/menu.svg');
    @apply lg:hidden w-5 aspect-square block transition-all duration-150;
    &.close {
      background-image: url('./assets/icons/x.svg');
    }
  }

  #mobile-nav {
    ul {
      @apply fixed w-full z-40 scale-y-0 origin-top flex flex-col gap-4 bg-secondary p-5 text-text text-xl border border-transparent border-t-primary transition-all duration-150;
      &.open {
        @apply scale-y-100;
      }
      li {
        @apply cursor-pointer transition-colors duration-150;
        &:hover {
          @apply text-primary underline underline-offset-4;
        }
      }
    }
  }
  #mobile-nav-bg {
    @apply fixed inset-0 z-30 transition-colors duration-150;
    &.open {
      @apply bg-white/10 pointer-events-auto;
    }
    &.close {
      @apply bg-transparent pointer-events-none;
    }
  }
  .rede-equipamento {
    @apply gap-2 grid lg:grid-cols-2 bg-secondary rounded-lg;
    &:nth-child(even) {
      .content {
        @apply lg:col-start-1 lg:row-start-1 rounded-l-lg;
      }
      figure {
        @apply lg:col-start-2 lg:row-start-1;
        img {
          @apply rounded-r-lg;
        }
      }
    }
    figure {
      img {
        @apply rounded-l-lg;
      }
    }
    .content {
      @apply p-5 flex flex-col justify-center gap-3 text-lg text-justify rounded-r-lg;
      .title {
        @apply font-bold text-2xl text-center tracking-wider;
      }
      span {
        @apply font-bold underline underline-offset-4;
      }
    }
  }
}
