<main>
  <section class="gap-5 grid mb-10">
    <figure class="relative mb-5">
      <img src="../../assets/open_space.jpg" alt="open space image" class="rounded-lg w-full aspect-video">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>

    <article class="bg-accent shadow-lg shadow-secondary p-2 rounded-lg">
      <h1 class="text-3xl">Objetivo deste projeto</h1>

      <p class="mt-5 mb-2">
        Este projeto tem como objetivo a criação de um sistema de redes numa empresa fictícia
        chamada PWM
        RComputadores.
      </p>
      <p>
        A empresa PWM RComputadores contém uma livraria aberta ao público. Contém também um espaço reservado
        compartilhado ou reservado, onde os clientes registados podem acessar a internet, fazer pesquisas, trabalhos,
        etc.
      </p>
    </article>
  </section>

  <section class="gap-5 grid">
    <figure class="relative">
      <img src="../../assets/cisco_packet_tracer.jpg" alt="cisco packet tracer image"
        class="rounded-lg w-full aspect-video">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>
    
    <article>
      <h2 class="text-3xl">Ferramenta utilizada</h2>
      <p class="mt-5 mb-2">A rede foi configurada de forma lógica utilizando o software Cisco Packet Tracer, abrangendo
        a implementação de
        servidores, routers, switches, access points, dispositivos e seus acessos, políticas de segurança, gestão de
        utilizadores e permissões, e monitorização contínua da rede de forma a garantir a uma infraestrutura sólida, com
        o intuito de mitigar erros e promover a comunicação e partilha de recursos entre dispositivos conectados à rede.
      </p>
      <p>A planta do espaço nos foi providenciada pelos clientes, bem como a configuração dos computadores que serão
        utilizados</p>
    </article>
  </section>
</main>