<main class="gap-40 grid">
  <section>
    <h2>Tipos Equipamentos</h2>
  </section>
  <!-- <section class="mt-20">
    <figure class="relative">
      <img src="../../assets/open_space.jpg" alt="open space image" class="rounded-lg w-full h-full">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>

    <article class="flex flex-col justify-center p-2 rounded-lg text-justify text-lg">
      <h1 class="text-4xl text-center">Objetivo deste projeto</h1>

      <p class="mt-5 mb-2">
        Este projeto tem como objetivo a criação de um sistema de redes numa empresa fictícia
        chamada PWM
        RComputadores.
      </p>
      <p>
        A empresa PWM RComputadores contém uma livraria aberta ao público. Contém também um espaço reservado
        compartilhado ou reservado, onde os clientes registados podem acessar a internet, fazer pesquisas, trabalhos,
        etc.
      </p>
    </article>
  </section>

  <section>
    <article class="flex flex-col justify-center">
      <h2 class="text-3xl text-center">Ferramenta</h2>
      <p class="mt-5 mb-2">
        Para a realização deste projeto foi utilizado o software Cisco Packet Tracer para simular a rede a instalar.
      </p>
      <p>Para tal a planta do espaço foi providenciada pelo cliente, bem como os equipamentos predefinidos a ser
        utilizados</p>
    </article>

    <figure class="relative">
      <img src="../../assets/cisco_packet_tracer.jpg" alt="cisco packet tracer image"
        class="rounded-lg w-full h-80 object-fill">
      <div class="absolute inset-0 bg-background/35 rounded-lg"></div>
    </figure>
  </section> -->
</main>